input {
  outline: none;
  border: none;
}

.subtitulos {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 24px;
}
/*Estilos de la seccion principal*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.forms > input {
  width: 800px;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  font-size: 17px;
  border: 0.5px solid rgb(0, 132, 255);
}

.forms > input::placeholder {
  font-size: 16px;
}

.forms > label {
  margin-left: 5px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 15px;
}

#forma-pago {
  margin: 5px;
}

#forma-pago > label {
  font-weight: normal;
  padding-right: 15px;
}

.btn {
  font-size: medium;
  margin-top: 20px;
  margin-left: 5px;
  padding: 15px;
  width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-verde {
  background-color: #6ecb63;
  box-shadow: 3px 3px #b1e693;
}

.btn-rojo {
  background-color: #ff0000;
  box-shadow: 3px 3px #fe8f8f;
}

/*Estilos para la tabla donde se muestran los registros de venta*/

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 0.5px solid rgb(0, 132, 255);
}

.section-tabla {
  height: fit-content;
  margin: 10px;
  padding: 5px;
}

.tabla-ventas thead th:nth-child(1) {
  width: 10%;
}

.tabla-ventas thead th:nth-child(2) {
  width: 10%;
}

.tabla-ventas thead th:nth-child(3) {
  width: 25%;
}

.tabla-ventas thead th:nth-child(4) {
  width: 10%;
}

.tabla-ventas thead th:nth-child(5) {
  width: 15%;
}

.tabla-ventas thead th:nth-child(6) {
  width: 10%;
}

.tabla-ventas thead th:nth-child(7) {
  width: 10%;
}

.tabla-ventas thead th:nth-child(8) {
  width: 10%;
}

.tabla-ventas th,
td {
  padding: 20px;
  text-align: center;
}

.tabla-ventas th {
  background-color: white;
}

.tabla-ventas tr:nth-child(odd) {
  background-color: whitesmoke;
}
.tabla-ventas tr:hover {
  background-color: #d1d9d9;
}

.tabla-ventas thead {
  border-bottom: 1px solid gray;
}

.combo-estado {
  background-color: transparent;
  width: 110px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.input-buscar {
  display: flex;
  align-items: center;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.5px solid rgb(0, 132, 255);
  border-radius: 5px;
}

.input-buscar > input {
  padding: 3px;
  border-radius: 5px;
  font-size: 17px;
}

.fa-search {
  font-size: 20px;
}
