*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

html{
    height: 100%;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    min-height: 100%;
}

input{
    outline: none;
}
/*grid-area: nombre para identificar el area que ocupa un bloque en el espacio*/
/*las grid-areas luego se organizan en el espacio usando la propiedad grid-templates-area*/
.header{
    grid-area: header;
    background-color: rgb(0, 132, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 75px auto;
    grid-template-areas: /*Esta propiedad permite distribuir las diferentes areas establecidas es el espacio*/
        "header header header"
        "main main main";
}

/*Estilos para el header/barra de nevegacion*/

.logo{
    width: 60px;
    height: auto;
    margin: 5px;
}

.nombre-logo{
    display: flex;
    align-items: center;
}

.nav-bar{
    display: flex;
    align-items: right;
}

.nav-bar > li{
    margin: 30px;
    padding: 5px;
}

.fas{
    font-size: 24px;
}

.subtitulos{   
    margin-top: 20px;
    text-align: left;
    font-size: 24px;
}
/*Estilos de la seccion principal*/

.forms{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.forms > input{
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    font-size: 17px;
    border: 0.5px solid rgb(0, 132, 255);
}

.forms > input::placeholder{
    font-size: 16px;
}

.forms > label{
    margin-left: 5px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
}

#forma-pago{
    margin: 5px;
}

#forma-pago > label{
    font-weight: normal;
    padding-right: 15px;
}

.btn{
    font-size: medium;
    margin-top: 20px;
    margin-left: 5px;
    padding: 15px;
    width: 150px;
    border: none;
    border-radius: 7px;
    box-shadow: 3px 3px #B1E693;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}

.btn-verde{
    background-color: #6ECB63;
}


/*Estilos para la tabla donde se muestran los registros de venta*/

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 0.5px solid rgb(0, 132, 255);
}

.section-tabla {
    height: fit-content;
    margin: 15px;
    padding: 5px;
}

.tabla-ventas thead th:nth-child(1){
    width: 8%;
}

.tabla-ventas thead th:nth-child(2){
    width: 8%;
}

.tabla-ventas thead th:nth-child(3){
    width: 25%;
}

.tabla-ventas thead th:nth-child(4){
    width: 6%;
}

.tabla-ventas thead th:nth-child(5){
    width: 8%;
}

.tabla-ventas thead th:nth-child(6){
    width: 10%;
}

.tabla-ventas thead th:nth-child(7){
    width: 10%;
}

.tabla-ventas thead th:nth-child(8){
    width: 8%;
}

.tabla-ventas thead th:nth-child(9){
    width: 8%;
}

.tabla-ventas thead th:nth-child(10){
    width: 8%;
}



.tabla-ventas th, td{
    padding: 20px;
    text-align: center;
}

.tabla-ventas th{
    background-color: white;
}

.tabla-ventas tr:nth-child(odd){
    background-color: whitesmoke;
}
.tabla-ventas tr:hover{
    background-color:#D1D9D9;
}

.tabla-ventas thead{
    border-bottom: 1px solid gray;
}
