*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

html{
    height: 100%;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    min-height: 100%;
}

input{
    outline: none;
    border: none;
}

.header{
    grid-area: header;
    background-color: rgb(0, 132, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 75px auto;
    grid-template-areas: 
        "header header header"
        "main main main";
}

.logo{
    width: 60px;
    height: auto;
    margin: 5px;
}
.logo-Grande{
    width: 200px;
    margin:3em;

}
.main-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-principal{
    align-items: center;
    font-size: xx-large;


}
.nombre-logo{
    display: flex;
    align-items: center;
}

.nombre-logo > i{
    margin: 30px;
}

.nav-bar{
    display: flex;
    align-items: right;
}

.nav-bar > li{
    margin: 30px;
    padding: 5px;
}

.fas{
    font-size: 24px;
}

.subtitulos{   
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 24px;
}
/*Estilos de la seccion principal*/

.forms{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

.forms > input{
    width: 800px;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    font-size: 17px;
    border: 0.5px solid rgb(0, 132, 255);
}

.forms > input::placeholder{
    font-size: 16px;
}

.forms > label{
    margin-left: 5px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
}

.btn{
    font-size: medium;
    margin-top: 20px;
    margin-left: 5px;
    padding: 15px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
select{
    font-size: medium;
    margin-top: 20px;
    margin-left: 5px;
    padding: 15px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
select:hover{
    transform: scale(1.1);
}

.btn:hover{
    transform: scale(1.1);
}

.btn-verde{
    background-color: #6ECB63;
    box-shadow: 3px 3px #B1E693;
}

.checkbox:checked ~ .menu {
    left: 20%;
    border-radius: 0 0.5rem 0.5rem 0;
}

.left-panel {
    width: 20%;
    height:100%;
    background: whitesmoke;
    position: absolute;
    top: 0px;
    left: -40%;
    display: block;
    align-items: center;
    justify-content: center;
    transition: left 0.2s;

}
.checkbox:checked ~ .left-panel {
    left: 0;
    
}

.checkbox {
    display: none;
}


