* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

html {
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
}

.grid-container > * {
    box-shadow: -1px 1px 4px 0px black;
    border-radius: 2px;
    padding: 3px;
    text-align: center;

}
.header {
    grid-area: header;
    background-color: rgb(12, 116, 251);
}


.sidebar {
    grid-area: sidebar;
    background-color:rgb(206, 206, 206);
}

.menu {
    background: rgb(0, 132, 255);
    position: absolute;
    top: 4%;
    left: 1%;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    transition: left 0.2s;


}

.checkbox:checked ~ .menu {
    left: 24%;
    border-radius: 0 0.5rem 0.5rem 0;
}

.left-panel {
    width: 24%;
    height:100%;
    background: whitesmoke;
    position: absolute;
    top: 0px;
    left: -40%;
    display: block;
    align-items: center;
    justify-content: center;
    transition: left 0.2s;

}
.checkbox:checked ~ .left-panel {
    left: 0;
    
}

.checkbox {
    display: none;
}

ul a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 1.8rem;
    text-align: center;
    padding: 0rem;
    margin: 0rem ;

}

li:hover {
    color: white;
    border: 0px solid rgb(78, 78, 78);
    background-color: rgb(0, 132, 255);
}


.main {
    grid-area: main;
    background-color: rgb(240, 240, 240);
}

.footer {
    grid-area: footer;
    background-color: rgb(80, 107, 255);
}

.grid-container {
    display: grid;
    gap: 0px;
    grid-template:
    "header" 60px
    "sidebar"50px
    "main"   auto
    "footer" 20px;
}


@media (min-width: 600px) {
    .grid-container {
        grid-template: 
        "header  header" 60px
        "main    sidebar" auto
        "footer  footer" 30px /
        auto     200px;
            
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template: 
        "header  header  header" 60px
        "main    main   sidebar" auto
        "footer  footer  footer" 30px/
        200px    auto    200px;
            
    }
}

.img-centro {
    margin: 10px auto 10px;
    display: block;
    width: 100px;
    height: 100px;
    
}

.divimg {
    margin-top: 90px;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;
    text-align: center;
}

@media screen and (max-width: 200px) {

    .checkbox:checked ~ .menu {
        left: 30%;
        border-radius: 0 0.5rem 0.5rem 0;
    }
    
    .left-panel {
        width: 30%;
        height:100%;
        background: whitesmoke;
        position: absolute;
        top: 0px;
        left: -40%;
        display: block;
        align-items: center;
        justify-content: center;
        transition: left 0.2s;
    
    }

}

.div-document {
    margin: 20px;
    margin-left: 100px;
    padding: 30px;
    border: 1px solid;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;


}
.div-content {
    margin: 10px;
    text-align: center;
}

.container {
    border-bottom: 1px solid rgb(179, 177, 177);
}