* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

html {
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
}

.grid-container > * {
    box-shadow: -1px 1px 4px 0px black;
    border-radius: 2px;
    padding: 3px;
    text-align: center;

}
.header {
    grid-area: header;
    background-color: rgb(12, 116, 251);
}

.navbar {
    grid-area: navbar;
    background-color: cadetblue;
}

.sidebar {
    grid-area: sidebar;
    background-color:coral;
}

.menu {
    background: rgb(0, 132, 255);
    position: absolute;
    top: 4%;
    left: 1%;
    font-family: sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    transition: left 0.2s;


}

.checkbox:checked ~ .menu {
    left: 20%;
    border-radius: 0 0.5rem 0.5rem 0;
}

.left-panel {
    width: 20%;
    height:100%;
    background: whitesmoke;
    position: absolute;
    top: 0px;
    left: -40%;
    display: block;
    align-items: center;
    justify-content: center;
    transition: left 0.2s;

}
.checkbox:checked ~ .left-panel {
    left: 0;
    
}

.checkbox {
    display: none;
}

ul a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 2rem;
    text-align: left;
    padding: 0rem;
    margin: 0rem ;

}

li:hover {
    color:rgb(78, 78, 78);
    border: 0.2px solid rgb(78, 78, 78);
    margin-right: 60px;
}


.main {
    grid-area: main;
    background-color: rgb(240, 240, 240);
}

.footer {
    grid-area: footer;
    background-color: darkolivegreen;
}

.grid-container {
    display: grid;
    gap: 0px;
    grid-template:
    "header" 60px
    "sidebar"50px
    "main"   auto
    "footer" 20px;
}


@media (min-width: 600px) {
    .grid-container {
        /* grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas:
        "header  header"
        "navbar  navbar"
        "sidebar  main"
        "footer  footer"; */

        grid-template: 
        "header  header" 60px
        "main    sidebar" auto
        "footer  footer" 30px /
        auto     200px;
            
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template: 
        "header  header  header" 60px
        "main    main   sidebar" auto
        "footer  footer  footer" 30px/
        200px    auto    200px;
            
    }
}

.img-centro {
    margin: 10px auto 10px;
    display: block;
    
}

.divimg {
    margin-top: 90px;
    margin-bottom: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    text-align: center;
}